Repository LcasFerrei/AcquaSense, pull requests merged in 2025-02, with the labels that each got.

#253 Telas de Inicio criadas
  AcquaSenseMobile/Pages/Inicio.js
  AcquaSenseMobile/Pages/Inicio2.js
  AcquaSenseMobile/assets/adaptive-icon.png
  AcquaSenseMobile/assets/favicon.png
  AcquaSenseMobile/assets/icon.png
  AcquaSenseMobile/assets/splash-icon.png
Labels: mobile

#257 Página de chave de acesso
  AcquaSenseMobile/Pages/Inicio4Token.js
Labels: mobile

#258 Adicionando pastas, rotas e imagens
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/Inicio2.js
  AcquaSenseMobile/Pages/Inicio3.js
  AcquaSenseMobile/Pages/Inicio4Token.js
  AcquaSenseMobile/assets/Background.png
  AcquaSenseMobile/assets/city.png
  AcquaSenseMobile/assets/energetika.png
  AcquaSenseMobile/assets/securty.jpg
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
Labels: mobile

#259 Alerações na tela 3
  AcquaSenseMobile/Pages/Inicio3.js
Labels: mobile

#261 Ajuste visual da tela 04 token
  AcquaSenseMobile/Pages/Inicio4Token.js
  AcquaSenseMobile/assets/clip-cyber-protection.png
Labels: mobile

#262 :sparkles: Layot tela Login
  AcquaSenseMobile/Pages/login/login.js
Labels: front-end

#263 :sparkles:Barra de Navegação
  AcquaSenseMobile/components/hub.js
Labels: mobile

#266 Sprint1
  .expo/README.md
  .expo/settings.json
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/Inicio4Token.js
  AcquaSenseMobile/Pages/Inicio5.js
  AcquaSenseMobile/Pages/dashboard/dash.js
  AcquaSenseMobile/Pages/login/login.js
  et --hard b77beae
Labels: mobile

#267 Telas Figma
  Documentation/Página Home notifi (2).pdf
  Documentation/Página Home notifi.pdf
  Documentation/Página Solicitação de Manutenção (1).pdf
  Documentation/Página Solicitação de Manutenção.pdf
Labels: Figma
