Repository LcasFerrei/AcquaSense, pull requests merged in 2025-03, with the labels that each got.

#272 Ajustes para apresentação
  AcquaSenseMobile/Pages/Inicio3.js
  AcquaSenseMobile/Pages/Inicio4Token.js
  AcquaSenseMobile/Pages/Inicio5.js
  AcquaSenseMobile/Pages/login/login.js
Labels: mobile

#275 Implementação de componente para medir o consumo de água diário
  AcquaSenseMobile/components/DailyConsumptionCasrd.js
Labels: mobile

#277 Adicionando Imagens e Ícones nas telas
  AcquaSenseMobile/assets/Activity.png
  AcquaSenseMobile/assets/Banner.png
  AcquaSenseMobile/assets/Graph.png
  AcquaSenseMobile/assets/Home.png
  AcquaSenseMobile/assets/Profile.png
  AcquaSenseMobile/assets/Search.png
  AcquaSenseMobile/assets/dash.png
  AcquaSenseMobile/assets/medidorverde.png
Labels: mobile

#279 Realizado a área de Noticias da tela inicial do app
  AcquaSenseMobile/components/news.js
Labels: mobile

#282 implementacao de grafico de consumo
  AcquaSenseMobile/components/ConsumptionChart.js
Labels: mobile

#284 Adicionando as novas rotas, para as telas
  AcquaSenseMobile/App.js
Labels: mobile

#286 :recycle: Melhorias no codigo
  AcquaSenseMobile/components/hub.js
Labels: mobile

#287 feat: adicionando grafico consumo diario
  AcquaSenseMobile/Pages/Chat/ChatScreen.js
Labels: mobile

#289 Tela de inicio exibindo apenas na primeira vez
  AcquaSenseMobile/App.js
  AcquaSenseMobile/components/PipeStatusCard.js
  AcquaSenseMobile/components/ProgressCircle.js
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
Labels: mobile

#290 AcquaMobile ganhou header
  AcquaSenseMobile/components/Header.js
  AcquaSenseMobile/package.json
Labels: mobile

#292 goldcard feito
  AcquaSenseMobile/components/GoalCard.js
Labels: mobile

#296 Sprint 2 Final
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/Chat/ChatScreen.js
  AcquaSenseMobile/Pages/Inicio.js
  AcquaSenseMobile/Pages/chat/Grafic.js
  AcquaSenseMobile/Pages/dashboard/dash.js
  AcquaSenseMobile/components/DailyConsumptionCard.js
  AcquaSenseMobile/components/GoalCard.js
  AcquaSenseMobile/components/hub.js
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
Labels: mobile

#303 adicionar testes automatizados com o Cypress
  cypress.config.js
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/e2e/home.spec.js
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  db.sqlite3
  package-lock.json
  package.json
Labels: QA

#305 Rotas para Sprint 3
  AcquaSenseMobile/App.js
Labels: mobile

#307 Feita a pagina da tela VisionGeral
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/VIsion/VisionGeral.js
Labels: mobile

#311 Adicionando imagem na pagina Home
  AcquaSenseMobile/assets/Pag_Home.png
Labels: mobile

#313 Exibir alertas de consumo e notificações
  AcquaSenseMobile/components/Noti.js
Labels: mobile

#314 exibicao de dados sobre consumo de água e histórico de sensores.
  AcquaSenseMobile/components/VisionGrafic.js
Labels: mobile

#317 Exibir alertas de consumo e notificações
  AcquaSenseMobile/Pages/Notiview.js
Labels: Mobile

#322 implementação de tela de pesquisa
  AcquaSenseMobile/Pages/search/SearchScreen.js
Labels: Mobile

#323 Teste com o Cypress, de navegação e de acesso ao login
  AcquaSenseMobile/cypress/e2e/teste.cy.js
Labels: Mobile
