Repository LcasFerrei/AcquaSense, pull requests merged in 2025-04, with the labels that each got.

#324 Adicionar Tela de Perfil e Configurações do Usuário
  AcquaSenseMobile/components/User.js
Labels: Mobile

#325 Configuração da interface
  AcquaSenseMobile/Pages/User/UserScreen.js
Labels: Mobile

#327 Sprint3 correções Finais
  AcquaSenseMobile/App.js
  AcquaSenseMobile/components/hub.js
Labels: Mobile

#329 Ajustes em locais e rotas
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/chat/Grafic.js
  AcquaSenseMobile/Pages/search/SearchScreen.js
  AcquaSenseMobile/components/User.js
Labels: Mobile

#330 Adiciona testes Cypress para fluxo de tutorial (Inicio - Inicio3)
  AcquaSenseMobile/Pages/Inicio.js
  AcquaSenseMobile/Pages/Inicio2.js
  AcquaSenseMobile/Pages/Inicio3.js
  AcquaSenseMobile/Pages/Inicio4Token.js
  AcquaSenseMobile/cypress.config.js
  AcquaSenseMobile/cypress/e2e/app_navigation.cy.js
Labels: QA

#331 authenticate
  .vscode/launch.json
  AcquaSenseMobile/Pages/login/login.js
  AcquaSenseMobile/app.json
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
  acquasense/settings.py
  usuarios/backend.py
  usuarios/views.py
Labels: Mobile

#332 Device History.
  AcquaSenseMobile/Pages/DeviceHistory/DeviceHistory.js
  AcquaSenseMobile/assets/achievement.png
  AcquaSenseMobile/assets/activity-history.png
  AcquaSenseMobile/assets/icon-profile.png
  AcquaSenseMobile/assets/workout-progress.png
Labels: Mobile

#334 definicao de uma tela de histórico de consumo
  AcquaSenseMobile/Pages/DeviceHistory/History.js
Labels: Mobile

#340 Atualizando card de histórico de consumo
  AcquaSenseMobile/components/PipeStatusCard.js
Labels: Mobile

#348 Criando o APK e AAB
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/chat/Grafic.js
  AcquaSenseMobile/Pages/login/login.js
  AcquaSenseMobile/app.json
  AcquaSenseMobile/cypress/e2e/app_navigation.cy.js
  AcquaSenseMobile/eas.json
  AcquaSenseMobile/package-lock.json
Labels: Mobile

#350 Configurando as notificações
  AcquaSenseMobile/App.js
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
Labels: Mobile

#353 ajustes realizados no botão ver mais e no login
  AcquaSenseMobile/Pages/login/login.js
  AcquaSenseMobile/components/news.js
Labels: Mobile

#354 Apk funcional
  AcquaSenseMobile/app.json
  AcquaSenseMobile/eas.json
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
  db.sqlite3
Labels: Mobile

#356 Corrigindo bug
  AcquaSenseMobile/components/news.js
Labels: bug

#357 Criando campo de histórico
  AcquaSenseMobile/App.js
  AcquaSenseMobile/Pages/DeviceHistory/History.js
  AcquaSenseMobile/Pages/chat/Grafic.js
  AcquaSenseMobile/Pages/dashboard/dash.js
  AcquaSenseMobile/Pages/login/login.js
  acquasense/settings.py
  db.sqlite3
  sensors/urls.py
  sensors/views.py
Labels: Mobile
