Repository LcasFerrei/AcquaSense, pull requests merged in 2025-05, with the labels that each got.

#362 Campo de Notificação
  AcquaSenseMobile/Pages/DeviceHistory/History.js
  AcquaSenseMobile/Pages/chat/Grafic.js
  AcquaSenseMobile/Pages/login/login.js
  AcquaSenseMobile/components/Noti.js
  AcquaSenseMobile/package-lock.json
  AcquaSenseMobile/package.json
  acquasense/settings.py
  acquasense/urls.py
  alerts/views.py
  db.sqlite3
  usuarios/urls.py
  usuarios/views.py
Labels: Mobile

#364 implementando recuperacao de senha na tela de login
  AcquaSenseMobile/Pages/login/login.js
Labels: Mobile

#365 Testes Cypress Login e Notificação
  AcquaSenseMobile/Pages/Inicio5.js
  AcquaSenseMobile/Pages/Notiview/Notiview.js
  AcquaSenseMobile/Pages/dashboard/dash.js
  AcquaSenseMobile/Pages/login/login.js
  AcquaSenseMobile/components/Header.js
  AcquaSenseMobile/components/User.js
  AcquaSenseMobile/cypress.config.js
  AcquaSenseMobile/cypress/e2e/app_navigation.cy.js
  AcquaSenseMobile/cypress/screenshots/app_navigation.cy.js/tela-dashboard.png
  AcquaSenseMobile/cypress/screenshots/app_navigation.cy.js/tela-login.png
  AcquaSenseMobile/cypress/screenshots/app_navigation.cy.js/tela-notiview.png
  AcquaSenseMobile/cypress/screenshots/teste.cy.js/Teste AcquaSense Mobile -- Deve exibir a logo e redirecionar corretamente (failed).png
  AcquaSenseMobile/cypress/videos/app_navigation.cy.js.mp4
Labels: QA

#366 Inserindo dados no front
  AcquaSenseMobile/components/BarChart.js
  AcquaSenseMobile/components/GoalCard.js
  AcquaSenseMobile/components/Header.js
Labels: Mobile

#369 Limite de consumo
  AcquaSenseMobile/components/User.js
Labels: Mobile

#376 integrando relatorio de consumo
  AcquaSenseMobile/Pages/DeviceHistory/History.js
  AcquaSenseMobile/Pages/Notiview/Notiview.js
  AcquaSenseMobile/Pages/VIsion/VisionGeral.js
  AcquaSenseMobile/Pages/dashboard/dash.js
Labels: Mobile

#378 Padronizar todas as views de notificações utilizando Django Rest Framework
  db.sqlite3
  sensors/models.py
  sensors/urls.py
  sensors/views.py
Labels: Mobile

#379 Configurações de CORS, CSRF e Autenticação - WEB
  AcquaSenseMobile/components/DailyConsumptionCard.js
  acquasense/settings.py
  usuarios/urls.py
  usuarios/views.py
Labels: back-end

#384 Tratamento nas Requisições HTTP
  AcquaSense React/src/components/User/User.js
  AcquaSense React/src/pages/DashBoard/DashHome.js
  AcquaSense React/src/pages/login/login.js
  AcquaSenseMobile/Pages/login/login.js
Labels: Mobile

#385 configs
  Procfile
  requirements.txt
Labels: documentation

#386 debug false
  acquasense/settings.py
  requirements.txt
Labels: back-end

#390 Ajustes no grafico de consumo
  AcquaSenseMobile/components/PipeStatusCard.js
  AcquaSenseMobile/components/VisionGrafic.js
  AcquaSenseMobile/components/news.js
Labels: Mobile

#391 Deploy
  Documentation/BuildRender.png
  Documentation/SettingsRender.png
  Documentation/StartCommander.png
Labels: documentation
